<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"
    ></script>
    <title>My Meds</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <div class="wrapper">
      <header class="container">
        <div class="row row-cols-auto">
          <h1 class="col">
            <a class="text-decoration-none text-warning" href="/">My Meds</a>
          </h1>
        </div>

        <div class="col offset-11">
          <nav class="nav">
            {{#if loggedIn}}
              <a
                class="nav-link active border border-primary px-2"
                aria-current="page"
                href="/dashboard/patient"
              >Dashboard</a>
              <button id="logout" class="btn-no-style px-4 mt-1">logout</button>
            {{else}}
              <a
                class="nav-link fs-5 border border-primary"
                href="/login"
              >Login</a>
            {{/if}}
          </nav>
        </div>
      </header>

      <main class="container">
        {{{body}}}
      </main>
      <footer
        class="container fixed-bottom p-3 background bg-light bg-opacity-50 rounded"
      >
        Disclaimer: This site is provided for educational purposes only and is
        not intended for medical advice, diagnosis or treatment. Please consult
        your doctor or pharmacist regarding your medications.
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>