<main>
  <body class="background1">
    <div class="bg-light rounded p-3 bg-opacity-50 col-5">
      {{! <img src="../public/assets/Screen Shot 2022-09-21 at 10.35.09 PM.png" /> }}
      <h2> About My Med List</h2>
      <section class="img">

      </section>
      <p>
        Create a personal medication list that allows you to organize your
        medications all in one place.
      </p>
      {{! <img src="..//public/assets/Screen Shot 2022-09-21 at 10.35.00 PM.png" /> }}
    </div>

  </body>
</main>