<main>
  <body class="background">
    <div class="bg-light rounded p-3 bg-opacity-50">
      <h2> About My Med List</h2>
      <p>
        Create a personal medication list that allows you to organize your
        medications all in one place.
      </p>
    </div>

  </body>
</main>