<main>
  <body class="background bg-light rounded p-3 bg-opacity-">
    <h2> About My Med List</h2>
    <p>
      Create a personal medication list that allows you to organize your
      medications all in one place.
    </p>

  </body>
</main>