<main>
  <body class="background1">
    <div class="bg-light rounded p-3 bg-opacity-50 col-5">

      <h2> About My Meds</h2>
      <p>
        Create a personal medication list that allows you to organize your
        medications all in one place.
      </p>

    </div>
    <div class="p-5" alt="Responsive image">
      <img src="/assets/Untitled design-7.png" />
    </div>

  </body>
</main>