<main class="homepage-form bg-light rounded p-3 bg-opacity-">
  <h2> About My Med List</h2>
  {{!-- insert some hero image --}}
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem, impedit
    numquam doloribus, provident qui inventore cumque id natus et quod sit nulla
    voluptate iste accusamus debitis reiciendis dolorem cum quo. Lorem ipsum
    dolor sit amet consectetur adipisicing elit. Deleniti, error consequuntur
    maxime quod repellendus optio accusamus nemo est laboriosam enim
    dignissimos. Accusamus, explicabo? Animi optio aliquid officia repellat
    quisquam? Iure!
  </p>
</main>