<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <p>
    Are you a patient or a provider?
    <span class="radio-wrapper">
      <input type="radio" name="trainer-confirm" id="trainer-yes" />
      <label for="trainer-yes">Patient</label>
    </span>
    <span class="radio-wrapper">
      <input type="radio" name="trainer-confirm" id="trainer-no" />
      <label for="trainer-no">Provider</label>
    </span>
  </p>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>