<main>
  <h2>Previous List</h2>
  <div
    id="myGrid"
    style="height: 200px; width:500px;"
    class="ag-theme-alpine"
  ></div>
</main>
<script>

const openList = function(params){
  console.log(params);
   const list_id = params.value;
   console.log(list_id);
    document.location.replace(`/dashboard/lists/${list_id}`);
};

  const columnDefs = [
   { field: "id", onCellClicked: openList}, 
   { field: "user_id" }, 
   { field: "list_text" }, 
   {field: "list_title"}, 
   { field: "created_at" } ]; 
  const gridOptions = {columnDefs: columnDefs, rowData:{{{data}}}, }; 
  const gridDiv = document.querySelector("#myGrid"); new agGrid.Grid(gridDiv,
  gridOptions);
</script>