<main>
  <div>
    <h2>Patient Dashboard</h2>
    <div>
      <h4>{{data.username}}</h4>
    </div>
    <div>
      <h3> Medication List </h3>
      <button class="btn btn-primary" id="prevLists">Previous Lists</button>
      <button class="btn btn-primary" id="saveList">Save List</button>
      <body>

        <div class="row mt-5 justify-content-center">
          <div class="col-6">
            <p class="fs-3 border med-list m-0">
              {{data.lists.0.list_title}}
            </p>
            <p class="fs-6 border note-textarea m-0">
              {{data.lists.0.list_text}}
            </p>
          </div>
          <div class="col-6 container">
          <input
            class="med-list border fs-3"
            placeholder="Enter Med List Name"
            maxlength="28"
            type="text"
            name="list-title"
          />
          <textarea
            class="note-textarea border fs-6"
            placeholder="Enter medications here"
            name="list-text"
          ></textarea>

        </div>
      </body>
    </div>
  </div>
</main>
<script src="/javascript/patient-dashboard.js"></script>