<main>
  <div>
    <h2>Patient Dashboard</h2>
    <div>
      <h4>{{data.users.username}}</h4>
    </div>
    <div>
      <h3> Medication List </h3>
      <button id = "prevLists">Previous Lists</button>
      <body>

        <div>
          <h3>
            {{data.list_title}}
          </h3>
          <p>
            {{data.list_text}}
          </p>
           <div>
      </body>
    </div>
  </div>
</main>
<script src="/javascript/previous-list.js"></script>