<main>
  <div>
    <h2>Patient Dashboard</h2>
    <div>
      <h4>{{data.users.username}}</h4>
    </div>
    <div>
      <div>
          {{list.createdAt}}
      </div>
      <h3> Medication List </h3>
      <button>Previous Lists</button>
      <button>Save List</button>
      <body>

        <div>
          <input
            class="med-list"
            placeholder="Enter Med List Name"
            maxlength="28"
            type="text"
          />
          
          <textarea
            class="note-textarea"
            placeholder="Enter medications here"
          ></textarea>

        </div>
      </body>
    </div>
  </div>
</main>