<body class="text-center m-auto">
  <div>
    <h2>Previous List</h2>
    <div>
      <h4>{{data.users.username}}</h4>
    </div>
    <div>
      <div>
        {{list.createdAt}}
      </div>
      <h3> Medication List </h3>
      <button id="prevLists" class="btn btn-primary">Previous Lists</button>
      <body>
        <div class="row justify-content-center col-6 offset-3">
          <div>
            <p class="fs-3 border med-list mt-3 mb-0">
              {{data.list_title}}
            </p>
            <p class="fs-6 border note-textarea m-0">
              {{data.list_text}}
            </p>
          </div>

        </div>
      </body>
    </div>
  </div>
</body>
<script src="/javascript/previous-list.js"></script>
