<main>
  <h2>Patient List</h2>
  <div
    id="myGrid"
    style="height: 200px; width:500px;"
    class="ag-theme-alpine"
  ></div>
</main>
<script>
  const columnDefs = [ 
  { field: "user_id" }, 
  { field: "first_name" }, 
  { field: "last_name" }, 
  { field: "date_of_birth" }, ]; 
  const gridOptions = {columnDefs: columnDefs, rowData:{{{users.users}}}, };
  const gridDiv = document.querySelector("#myGrid"); 
  new agGrid.Grid(gridDiv, gridOptions);
</script>