#myGrid {
  width: 650px;
  height: 400px;
}
* {
  box-sizing: border-box;
}
body {
  color: #040404;
  font-family: Helvetica, Arial, sans-serif;
}

.background {
  background-image: url("../assets/Home\ copy.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.background2 {
  background-image: url("../assets/Doctor-handing-medication-to-patient.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.med-list {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
} */