#myGrid {
  width: 650px;
  height: 400px;
}
* {
  box-sizing: border-box;
}
body {
  color: #040404;
  font-family: Helvetica, Arial, sans-serif;
}

.background1 {
  background-image: url("../assets/Home\ copy.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.background2 {
  background-image: url("../assets/Doctor-handing-medication-to-patient.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.med-list {
  height: 50px;
}
.note-textarea {
  resize: none;
  height: calc(100% - 63px);
}

.med-list,
.note-textarea {
  width: 480px;
}
.img {
  background-image: url("../assets/Screen\ Shot\ 2022-09-21\ at\ 10.35.09\ PM.png");
  background-repeat: no-repeat;
  background-size: cover;
}
